@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.syne-font {
    font-family: "Urbanist", sans-serif;
}
.swiper-slide {
  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.swiper-slide-active {
  opacity: 1 !important;
  transform: scale(1) !important;
}
